@model IEnumerable<DA_NH.Models.MenuReview>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Danh sách đánh giá</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Simple Tables</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Danh sách đánh giá </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Người đánh giá </th>
                                        <th>Ảnh</th>
                                        <th> Chức vụ </th>
                                        <th> Nội dung đánh giá </th>
                                        <th>Thời gian</th>
                                        <th>Hiển thị</th>
                                        <th>Chức năng</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@(i++)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                            
                                            <td><img src="@Html.DisplayFor(modelItem => item.Image)" width="50" hight="50" /></td>
                                            <td>@Html.DisplayFor(modelItem => item.Position)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.IsActive)</td>

                                            <td>
                                                <a a asp-action="Delete" asp-route-id="@item.ProductReviewId" class="btn btn-danger">Xóa</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
